<form id="add_notes" method="post" action="/{{unit}}">
    <input type="hidden" name="unit_id" id="unit_id" value="/{{unit}}">

<head>
    <link rel="stylesheet" href="button.css">
</head>
<style>ow
button {
  background: darken($red, 1.5%);
  font-weight: 100;
  
  svg {
    height: 45px;
    left: 0;
    position: absolute;
    top: 0; 
    width: 100%; 
  }
  
  rect {
    fill: none;
    stroke: #fff;
    stroke-width: 2;
    stroke-dasharray: 422, 0;
    transition: all 0.35s linear;
  }
}

    button:hover {
  background: rgba($red, 0);
  font-weight: 900;
  letter-spacing: 1px;
  
  rect {
    stroke-width: 5;
    stroke-dasharray: 15, 310;
    stroke-dashoffset: 48;
    transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
  }
}
</style>
<div class="container">

    <h1>{{ title }}</h1>
            
    <p>Make sure that your PDF is accessible to everyone and ends with '/preview'.</p>

    <div class="row">
        <div class="input-field col s12">
        <input type="text" name="note_link" id="note_link" class="validate" data-length="32" required>
        <label for="note_link"></label>
        </div>
    </div>

    <div class="button_wrapper">
        <button class="submit waves-effect waves-light light-blue btn" type="submit">Submit</button>
    </div>

</div>
</form>
      