<link rel="stylesheet" href="/styles/materialize.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

<div class="container">
    <nav>
        <div class="nav-wrapper light-blue">
        <div class="col s12">
            <a href="/" class="breadcrumb">Subjects</a>
            <a href="/apcalc" class="breadcrumb">AP Calculus</a>
        </div>
        </div>
    </nav>

    <h1>{{title}}</h1>
    <br>

    <ul class="collection with-header">
        <li class="collection-header"><h6>Class Years</h6></li>
        <li class="collection-item">
            <i class="material-icons">folder</i>
            <span class="collection-item"><a href="/apcalc2023">2023</a></span>
        </li>
    </ul>
    
</div>

