<link rel="stylesheet" href="/styles/materialize.min.css">
<link rel="stylesheet" href="/styles/style.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

<script src="https://code.jquery.com/jquery-3.2.1.min.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

<div class="bg"></div>
<div class="bg bg2"></div>
<div class="bg bg3"></div>

<style> 
    .bg {
  animation:slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #6c3 50%, #09f 50%);
  bottom:0;
  left:-50%;
  opacity:.5;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
}

.bg2 {
  animation-direction:alternate-reverse;
  animation-duration:4s;
}

.bg3 {
  animation-duration:5s;
}

@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}
</style>

<nav>
    <div class="col s12 light-blue">
        <a href="/" class="breadcrumb">Subjects</a>
        <a href="/apcalc" class="breadcrumb">AP Calculus</a>
        <a href="/apcalc2023" class="breadcrumb">AP Calculus 2023</a>
        <a href="/derivatives" class="breadcrumb">Derivatives</a>
    </div>
</nav>

<div class="sidenav" id="slide-out">
    <a class="sidenav-close" href="#">&times;</a>
    <h6>Notepad</h6>
    <div class="content">
        <textarea class="txtContent" id="txtContent"></textarea>
    </div>
</div>
<br>
<a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>

<div class="container">

    <h1>{{title}}</h1>
    <br>

    {{#if links.length}}
        {{#each links}}
        <iframe width="200" height="200" src="{{this}}"></iframe> 
        {{/each}}
    {{else}}
        <h5>No notes have been uploaded yet!</h5>
    {{/if}}

    <br>
    <a class="btn-floating waves-effect" id="add-button" href="/{{unit}}/add">
        <i class="material-icons">add</i></a>
    
</div>

<script>
    $(document).ready(function () {
        $(".button-collapse").sideNav({
            closeOnClick: true
        });
    });
</script>
