<link rel="stylesheet" href="/styles/materialize.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

<div class="container">
    <nav>
        <div class="nav-wrapper">
        <div class="col s12">
            <a href="/" class="breadcrumb">Subjects</a>
            <a href="/physics" class="breadcrumb">Physics</a>
            <a href="/physics2023" class="breadcrumb">Physics 2023</a>
            <a href="/electricity" class="breadcrumb">Electricity</a>
        </div>
        </div>
    </nav>

    <h1>{{title}}</h1>
    <br>
    
</div>

