<link rel="stylesheet" href="/styles/materialize.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

<div class="container">
    <nav>
        <div class="nav-wrapper light-blue">
        <div class="col s12">
            <a href="/" class="breadcrumb">Subjects</a>
            <a href="/physics" class="breadcrumb">Physics</a>
            <a href="/physics2023" class="breadcrumb">Physics 2023</a>
            <a href="/electricity" class="breadcrumb">Electricity</a>
        </div>
        </div>
    </nav>

    <h1>{{title}}</h1>
    <br>

    {{!-- <iframe width="200" height="200"
        src="https://www.uwyo.edu/web/_files/docs/manuals/ada_guidelines_792014.pdf">
    </iframe> --}}

    <iframe 
        src="https://docs.google.com/viewer?srcid=1t8WTgdyO_giMXXtYbA03MI_0hXTK-VF5&pid=explorer&efh=false&a=v&chrome=false&embedded=true" 
        width="200px" height="200px"></iframe>

    <iframe width="200" height="200"
        src="https://drive.google.com/file/d/1t8WTgdyO_giMXXtYbA03MI_0hXTK-VF5/preview">
    </iframe>    
    
    <iframe width="200" height="200"
        src="https://drive.google.com/file/d/1t8WTgdyO_giMXXtYbA03MI_0hXTK-VF5/preview">
    </iframe>    

</div>

