<link rel="stylesheet" href="/styles/materialize.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

<div class="container">
    <nav>
        <div class="nav-wrapper light-blue">
        <div class="col s12">
            <a href="/" class="breadcrumb">Subjects</a>
            <a href="/apcalc" class="breadcrumb">AP Calculus</a>
            <a href="/apcalc2023" class="breadcrumb">AP Calculus 2023</a>
            <a href="/integrals" class="breadcrumb">Integrals</a>
        </div>
        </div>
    </nav>

    <h1>{{title}}</h1>
    <br>

    {{#each links}}
    <iframe width="200" height="200" src="{{this}}"></iframe> 
    {{/each}}

    <br>
    <a class="btn-floating waves-effect light-blue" href="/{{unit}}/add">
        <i class="material-icons">add</i></a>
    
</div>

