h6, a {
  color: #48d848;
}

#add-button {
  background-color: #48d848;
  margin-top: 10px;
}

#txtContent {
  margin-top: 30px;
  min-height: 500px;
  resize: vertical;
}

.button-collapse {
  margin-left: 10px;
}

h6, .container {
  font-family: "Rockwell";
}

.breadcrumb {
  font-family: "Rockwell";
  margin-left: 9px;
}

